<div class="col-md-10 col-md-offset-1">
  <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <h2 class="proyect_name alert alert-info">
    <strong>Administracion de Usuarios</strong> 
  </h2>
  <%= link_to ' Crear usuario', new_admin_path, class: "btn btn-primary float_right " %>
  <div class="table-responsive">
    <table class="table table-bordered top">
    <thead>
      <tr>
        <th>Correo de usuario</th>

      </tr>
    </thead>
      <tbody>

        <% @users.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td>
              <%= link_to "Eliminar", admin_destroy_path(user), method: :delete, data: { confirm: "El usuario sera eliminado?" }%>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </div>
  <%= link_to ' Regresar', root_path, class: "btn btn-info float_right " %>
</div>