<% @report = 1%>
<div class="col-md-6 col-md-offset-3">
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
	<h2 class="proyect_name alert alert-info">
    	<strong>Edición de Viático</strong> 
  	</h2>
	<div class="space_form">
		<%= render 'form' %>
	</div>

	<%= link_to ' Regresar', [@zone,@proyect], class: "btn btn-info float_right " %>
	<%= link_to 'Visualizar viatico', [@zone,@proyect,@viatico],class: "btn btn-primary" %> 
</div>