<p id="notice"><%= notice %></p>

<h1>Listing Viaticos</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Proyect</th>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @viaticos.each do |viatico| %>
      <tr>
        <td><%= viatico.user %></td>
        <td><%= viatico.proyect %></td>
        <td><%= viatico.cantidad %></td>
        <td><%= link_to 'Show', viatico %></td>
        <td><%= link_to 'Edit', edit_viatico_path(viatico) %></td>
        <td><%= link_to 'Destroy', viatico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Viatico', new_viatico_path %>
