<div class="col-md-6 col-md-offset-3 col-md-pushed-3">
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
	<div class="table-responsive">
		<table class="table table-bordered spacedor">
		  <caption class="top-center">
		    <strong>Viáticos #<%=@viatico.id%></strong>
		  </caption>
		  <thead>
		    <tr>
		      <th>Fecha</th>
		      <th>Creador</th>
		      <th>Cantidad</th>
		    </tr>
		  </thead>

		  <tbody>
		  	  <tr class="info">
		        <td><%= @viatico.fecha %></td>
		        <td><%= @viatico.user.email %></td>
		        <td><%= @viatico.cantidad %></td>

		        <%if current_user.is_admin? || current_user.email == @viatico.user.email%>
		        <td><%= link_to 'Editar', edit_zone_proyect_viatico_path(@zone,@proyect,@viatico) %></td>
		        <%end%>
		        <%if current_user.is_admin?%>
		        <td><%= link_to 'Eliminar', [@zone,@proyect,@viatico], method: :delete, data: { confirm: 'Estas seguro?' } %></td>
		        <%end%>
		      </tr>
		   
		  </tbody>
		</table>
	</div>

	<%= link_to 'Regresar', [@zone,@proyect], class: "btn btn-info fa fa-arrow-left float_right " %>
</div>