<%= form_for([@zone,@proyect]) do |f| %>
  <% if @proyect.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger" role="alert">
          <i class="fa fa-exclamation-circle fa-2x"></i>
          <h2><%= pluralize(@proyect.errors.count, "error") %>Motivos por el cual no se pudo guardar la informacion:</h2>
      </div>

      <% @proyect.errors.full_messages.each do |message| %>
        <div class="alert alert-danger" role="alert">
          <i class="fa fa-exclamation-circle fa-2x"></i>
          <span class="sr-only">Error:</span>
          <%= message %>
        </div>
      <% end %>
    </div>
  <% end %>

  
  <div class="form-group">
    
    <%= f.text_field :name ,placeholder: "Nombre de proyecto", class: "form-control" ,required: "required"%>
  </div>
  
  <div class="actions ">
    <%= f.submit "Guardar" , class: 'btn btn-primary btn-sm guardar' %>
  </div>
<% end %>
