<div class="col-md-6 col-md-offset-3">
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
	<h2 class="proyect_name alert alert-info">
    	<strong>Editando proyecto</strong> 
  	</h2>
	<div class="space_form">
		<%= render 'form' %>
	</div>
	<%= link_to 'Ir a proyecto', [@zone,@proyect],class: "btn btn-primary" %> 
	<%= link_to ' Regresar', zone_path(@zone), class: "btn btn-info float_right " %>
</div>
