<h1>Listing Spends</h1>

<table>
  <thead>
    <tr>
      <th>Proyect</th>
      <th>Fecha</th>
      <th>Tipo</th>
      <th>Importe</th>
      <th>Comntarios</th>
      <th>Comprobante</th>
      <th>Numero comprobante</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spends.each do |spend| %>
      <tr>
        <td><%= spend.proyect %></td>
        <td><%= spend.fecha %></td>
        <td><%= spend.tipo %></td>
        <td><%= spend.importe %></td>
        <td><%= spend.comntarios %></td>
        <td><%= spend.comprobante %></td>
        <td><%= spend.numero_comprobante %></td>
        <td><%= spend.user %></td>
        <td><%= link_to 'Show', spend %></td>
        <td><%= link_to 'Edit', edit_spend_path(spend) %></td>
        <td><%= link_to 'Destroy', spend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spend', new_spend_path %>
