<%= form_for(@zone) do |f| %>
  <% if @zone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zone.errors.count, "error") %> prohibited this zone from being saved:</h2>

      <ul>
      <% @zone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name , "Nombre" %><br>
    <%= f.text_field :name ,placeholder: "Nombre de Area", class: "form-control" ,required: "required"%>
  </div>
  <div class="actions">
    <%= f.submit  "Guardar" , class: 'btn btn-primary btn-sm guardar'%>
  </div>
<% end %>
