<div class="col-md-8 col-md-pushed-2 col-md-offset-2">
  <h2 class="proyect_name alert alert-info">
    <strong>Areas de proyectos</strong>
  </h2>
  <%= link_to ' Crear Area', new_zone_path ,class: "btn btn-primary fa fa-plus edit "%>
  <table class="table table-bordered">
    <caption class="top-center">
      <strong>Lista de Areas</strong>
    </caption>
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre de Area</th>
      </tr>
    </thead>

    <tbody>
      <%@valor = 0%>
      <% @zones.each do |zone| %>
        <%= render "parcial/color"%>
          <td><%= link_to zone.id, [zone,@proyect] %></td>
          <td><%= link_to zone.name, [zone,@proyect] %></td>
          <%if current_user.is_admin? %>
            <td><%= link_to 'Editar', edit_zone_path(zone) %></td>
            <td><%= link_to 'Eliminar', zone, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
          <%end%>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
