<div class="col-md-10 col-md-pushed-1 col-md-offset-1">
  <h2 class="proyect_name alert alert-info">
    <strong><%= @zone.name %></strong>
  </h2>
  <%= link_to ' Crear proyecto', new_zone_proyect_path(@zone) ,class: "btn btn-primary fa fa-plus edit "%>

  <%= link_to ' Regresar', zones_path ,class: "btn btn-info fa fa-arrow-left float_right "%>
  <table class="table table-bordered">
    <caption class="top-center">
      <strong>Lista de Proyectos</strong>
    </caption>
    <thead>
      <tr>
        <th>#</th>
        <th>Proyecto</th>
        <th>Administrador de proyecto</th>
      </tr>
    </thead>

    <tbody>
      <%@valor = 0%>
      <% @broker.each do |proyecto| %>
        <%if current_user.id == proyecto.user_id%>
          <%= render "parcial/color"%>
            <td><%= link_to proyecto.proyect.id, [@zone, proyecto.proyect]%></td>
            <td><%= link_to proyecto.proyect.name, [@zone, proyecto.proyect]%></td>
            <td><%= proyecto.proyect.user.email%></td>
            <%if current_user.email == proyecto.proyect.user.email || current_user.is_admin? %>
            <td>
              <%= link_to 'Editar', edit_zone_proyect_path(@zone, proyecto.proyect)%>
            </td>
            <%end%>
            <%if current_user.is_admin?%>
            <td><%= link_to 'Eliminar', [@zone,proyecto.proyect], method: :delete, data: { confirm: 'Estas seguro?' } %></td>
            <%end%>
          </tr>
        <%end%>
      <% end %>
    </tbody>
  </table>
  <%if current_user.is_admin? %>
  <%= link_to ' Editar', edit_zone_path(@zone) ,class: "btn btn-warning fa fa-edit"%>
  <%end%>
</div>