<!DOCTYPE html>
<html>
<head>
  <title>Viaticos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

</head>
<body>
<%= render "parcial/nav"%>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
	<section class="top main">
		<%= yield %>
	</section>

</body>
</html>
